{
  "presets": ["react", "stage-0", "env"],
  "plugins": [
    ["transform-regenerator"],
    ["inline-react-svg"],
    ["inline-import", {
      "extensions": [
        ".css"
      ]
    }],
    ["inline-import-data-uri", {
      "extensions": [
        ".png"
      ]
    }]
  ]
}
