{
  "presets": ["next/babel", "es2015", "stage-0"],
  "plugins": [
    ["transform-regenerator"],
    ["inline-react-svg"],
    ["inline-import", {
      "extensions": [
        ".css"
      ]
    }],
    ["inline-import-data-uri", {
      "extensions": [
        ".png"
      ]
    }]
  ]
}
